<div>
  <h2>Mathématiques pour Lycée</h2>
  <p>
Dans cette site Web, vous trouverez les cours et les exercices de programme de lycée.
Dériger par le professeur Abdellah CHEQROUNI</p>

  <ul>
    <li><a href="https://api.whatsapp.com/send?phone=+212658050763&text=Bonjour, ...." target="_blank">
      <i style="color: green; margin-left: 14px" class="fab fa-whatsapp"><span style="font-size: 9px; margin-left: 4px">Whatsapp</span></i>
    </a>

      <a href="https://api.whatsapp.com/send?phone=+212658050763&text=Bonjour, ...." target="_blank">
        <i style="color: rosybrown; margin-left: 14px" class="fab fa-whatsapp"><span style="font-size: 9px; margin-left: 4px">Whatsapp</span></i>
      </a>
    </li>
  </ul>
</div>

<br>
<hr>
<h2>Course :</h2>

<pdf-viewer [src]="pdfSrc" [render-text]="true"></pdf-viewer>
<button style="color: green" (click)="downloadPDF()">Télécharger Dummy Course PDF</button>
<br>
<br>
<a style="color: #4c92d8" (click)="downloadPDF()">Télécharger Dummy Course PDF</a>


<br>
<br>
<hr>
